@{
    ViewData["Title"] = "404 Not Found";
}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 mt-5">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQI-PSrS5CTj_Jgs8tXQwE0n9tFx2HghvpKEw&usqp=CAU" alt="Alternative image" class="img-thumbnail mx-auto d-block">
            <div class="text-center mt-3">
                <h4>Oops, the page you are looking for was not found.</h4>
            </div>
            <div class="text-center mt-3">
                <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Go back to Home Page</a>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
