@model StoreFormModel
@{
    ViewBag.Title = "Add Store";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_StoreFormPartial" model="@Model"></partial>

@section Scripts
{
    <partial name="_ValidationScriptsPartial">
}