@model StoreAddFormModel
@{
    ViewData["Title"] = "Edit store";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_StoreFormPartial" model="@Model"></partial>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"></partial>
}