@using StoreManagementSystem.Core.Interfaces;
@using StoreManagementSystem.Middlewares;

@model IEnumerable<UserViewModel>
@inject IUserService UserService;
@{
    ViewBag.Title = "All Users";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th><label>Email</label></th>
            <th><label>Full Name</label></th>
            <th><label>Phone Number</label></th>
            <th><label>User Is Owner</label></th>
            <th><label>Is Online</label></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            bool isOwner = await UserService.IsUserOwnerOfAnyStoreAsync(user.Id);

            <tr>
                <td><label>@user.Email</label></td>
                <td><label>@user.FullName</label></td>
                <td><label>@user.PhoneNumber</label></td>
                <td>
                    @if (isOwner)
                    {
                        <label>✔</label>
                    }
                    else
                    {
                        <label class="text-center">❌</label>
                    }
                </td>
                <td>
                    @if (OnlineUsersMiddleware.CheckIfUserIsOnline(user.Id))
                    {
                        <label>✔</label>
                    }
                    else
                    {
                        <label class="text-center">❌</label>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>