@model ProductAddFormModel
@{
    ViewData["Title"] = "Edit product";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_ProductFormPartial" model="@Model"></partial>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial"></partial>
}